:root {
  font-family: inter;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
  background-color: #16156e;
}

nav {
  background-color: #2946a7;
  padding: 20px;
  display: flex;
  padding: 15px 30px;
  align-items: center;
  color: white;
}

.nav--icon {
  height: 80px;
}

.nav--icon--container {
  margin-left: auto;
}

.nav--logo {
  margin-right: 25px;
  border-radius: 20px;;
}

.nav--title {
  font-weight: 800;
  font-size: 40px;
}

.hero {
  color: white;
  padding: 15px 50px;
  background-color: #212b8a;
}

.hero--title {
  font-size: 30px;
}

.hero--text {
  font-weight: 600;
  font-size: 25px;
  max-width: 800px;
}

.cards {
  display: flex;
  gap: 200px;
  flex-wrap: nowrap;
  overflow-x: auto;
  left: 100px;
  padding: 50px;
}

.card {
  width: 300px;
  color: white;
  background-color: rgb(107, 122, 212);
  border-radius: 20px;
  position: relative;
}

.card--icon {
  width: 300px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card--stats {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: -5px;
}

.card--rating {
  font-weight: 800;
  font-size: 25px;
  text-align: center;
  background-color: rgb(47, 63, 150);
  padding-block: 10px;
  margin-block: 20px;
}

.card--subtitles {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: center;
  font-weight: 600;
  font-size: 20px;
  margin-top: -20px;
  
}

.card--scores {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: center;
  font-weight: 500;
  font-size: 15px;
  margin-top: -30px;
}

.card--subtitle {
  margin-left: auto;
  margin-right: auto;
}

.card--score {
  margin-left: auto;
  margin-right: auto;
}

.card--channelpage {
  margin-top: -5px;
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: 900;
  color: rgb(67, 67, 230);
  display: block;
  text-align: center;
}

.card--badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: aliceblue;
  color: black;
  padding: 0px 5px;
  border-radius: 2px;
  font-weight: 700;
}